<h1><%= gettext "It's the  %{name}", name: "Phoenix Starter" %></h1>

<div>
  <%= link "Register", to: user_path(@conn, :new) %>
</div>
<div>
  <%= link "Sign in",  to: session_path(@conn, :new) %>
</div>
