<h1><%= gettext "It's the  %{name}", name: "Phoenix Starter" %></h1>

<div>
  <%= link "Register", to: user_path(@conn, :new) %>
</div>
<div>
  <%= if @current_user do %>
    <%= link "Sign out",  to: session_path(@conn, :delete, @current_user), method: :delete %>
  <% else %>
    <%= link "Sign in",  to: session_path(@conn, :new) %>
  <% end %>
</div>
